// Empezamos con nuestro CSS
// Establecemos tama침o de la fuente por defecto
html {
  font-size: 1rem;
}

p {
  font-size: large;
  font-weight: bolder;
}
a {
  color: #121a1a;
  text-decoration: none;
}
// Establecemos la distancia del slide

// Distancia y posicion de la foto
.MainPicture {
  padding-top: 1.25rem;
  text-align: center;
}

.sy-box {
  margin-top: 2.5rem;
}
.pictures-slider {
  height: 21.25rem;
}
// Desplazamos las redes sociales y alineamos al centro
// (agradecimientos de las imagenes en /agradecimientos y en la carpeta /images/rrss)
.rrss {
  width: 100%;
  text-align: center;
  img {
    margin-right: 0.7125rem;
  }
  a {
    text-decoration: none;
    color: #121a1a;
  }
}
// Damos dise침o al nombre y apellidos
.Data {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 2.1625rem;
  text-align: center;
}
// Para mayor comodidad y poder colocar los buttons a mi antojo los envuelvo en un div que manejo con la clase btns
.btns {
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 0.8625rem;
  a {
    color: beige;
    font-size: large;
    padding: 0.925rem;
  }
}

// Clase nueva para las card de BS les doy margen, y las imagenes las coloco a mi antojo
.tarjetas {
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;

  img {
    width: 30%;
    justify-content: center;
  }
  .pieicons {
    margin-top: 1.25rem;
    font-size: x-small;
    text-align: left;
    padding: 1.25rem;
    border: 1px solid #121a1a;
    border-radius: 1rem;
  }
  .btn {
    background-color: #121a1a;
  }
}
// Sencillo footer con mi p치gina y los agradecimientos, que parece que no, pero son muchos
.footer {
  text-align: center;
}
// Esto configura la p치gina agradecimientos.html sus titulos, listas y enlaces
.gracias {
  margin: 5.5rem 0 5.5em 0;
  align-items: center;
  text-align: center;
  li {
    list-style: none;
  }
  h1 {
    margin-bottom: 1.625rem;
  }
  a {
    color: #121a1a;
    &:hover {
      color: #121a1a;
      text-decoration: underline;
    }
  }
}
.card {
  margin-right: 1.25rem;
}
