// Empezamos con nuestro CSS
// Establecemos tamaño de la fuente por defecto
html{
    font-size: 1rem;  
}

p{
    font-size: large;
    font-weight: bolder;
}
a{
    color:#121A1A;
    text-decoration: none;
}
// Establecemos la distancia del slide
.sy-box{
    margin-top: 1.625rem;
    height: 25.125rem;
    border-top:.0625rem solid #121A1A;
    border-bottom: .0625rem solid #121A1A;
}
.sy-slides-wrap{
    overflow: hidden;
    width: 100%;
}
// Distancia y posicion de la foto
.MainPicture {
    padding-top: 1.25rem;
    text-align: center;
}

// Desplazamos las redes sociales y alineamos al centro
// (agradecimientos de las imagenes en /agradecimientos y en la carpeta /images/rrss)
.rrss {
    width: 100%;
    text-align: center;
    img{
        margin-right: .7125rem;
    }
    a {
        text-decoration: none;
        color: #121A1A;
    }
}
// Damos diseño al nombre y apellidos
.Data{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 2.1625rem;
    text-align: center;
    
}
// Para mayor comodidad y poder colocar los buttons a mi antojo los envuelvo en un div que manejo con la clase btns
.btns{
    margin:auto;
    text-align: center;
    justify-content: center;
    margin-top: .8625rem;;
    a{  
        color: beige;
        font-size: large;
        padding: .925rem;
    }
}

// Clase nueva para las card de BS les doy margen, y las imagenes las coloco a mi antojo
.tarjetas{
    margin-top: 3.125rem;
    margin-bottom: 2.50rem;
    
    
    img{
        
        width: 30%;
        justify-content: center;
    }
    .pieicons{
        margin-top: 1.25rem;
        font-size: x-small;
        text-align: left;
        padding: 1.25rem;
        border: 1px solid #121A1A;
        border-radius: 1rem;
    }
    .btn {
        background-color: #121A1A
    }
    
}
// Sencillo footer con mi página y los agradecimientos, que parece que no, pero son muchos
.footer{
    text-align: center;
}
// Esto configura la página agradecimientos.html sus titulos, listas y enlaces
.gracias {
    margin: 5.5rem 0 5.5em 0;
    align-items: center;
    text-align: center;
    li{
        list-style: none;
    }
    h1{
        margin-bottom: 1.625rem;
    }
    a{
        color: #121A1A;
        &:hover {
            color: #121A1A;
            text-decoration: underline;
        }
    }
    
}
.card{
    margin-right: 1.25rem
}